body {
    background: url("../Photos/ComingSoon.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    background-color: White;
}
.MainHeader {
    font-weight: bolder;
    font-size: 70px;
    color: black;
    padding: 30px;
    text-align: center;
    text-shadow: 4px 4px gray;
}

.moreinfobutton {
    text-align: center;
    bottom: auto;
    
}

.btn-light {
    transition: all 1s;
    border: .05rem solid black;
}

.btn-light:hover {
    transform: scaleX(1.75) scaleY(1.5);
    border: .05rem solid black;

}

footer {
   position:absolute;
   bottom:0;
   margin: 0px;
   width:100%;
   height:3%;   /* Height of the footer */
   color: white;
   background-color: black;
   text-shadow: 1px 1px gray;
   text-align: center;
}

.foot1 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size-adjust: .75;
}