body {
    background: lightgray;
    background-size: cover;
    height: 100%;
}
.MainHeader {
    font-weight: bolder;
    font-size: 70px;
    color: black;
    padding: 30px;
    text-align: center;
    text-shadow: 4px 4px gray;
}

.moreinfobutton {
    text-align: center;
    bottom: auto;
    
}

.btn-light {
    transition: all 1s;
    border: .05rem solid black;
}

.btn-light:hover {
    transform: scaleX(1.75) scaleY(1.5);
    border: .05rem solid black;

}

footer {
   position:absolute;
   bottom:0;
   margin: 0px;
   width:100%;
   height:3%;   /* Height of the footer */
   color: white;
   background-color: black;
   text-shadow: 1px 1px gray;
   text-align: center;
}

.foot1 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size-adjust: .75;
}


h2 {
    background: black;
    text-align: center;
    border: 5px solid black;
    color: white;
    font-family: 'Indie Flower', monospace;
    font-size: 2em;
    border-radius: 25px;
}

img {
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    transition: all 1s;
    border-radius: 10%;
}

img:hover {
    transform: scale(1.1) /*rotate(350deg)*/;
}

.image-border {
    border: 10px solid black;
    padding: 10px 10px 0px 10px;
    margin: 1px;
    border-radius: 25px;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-bg-blue {
    width: 133px;
    height: 300px;
    margin-bottom: 10px;
    transition: all 1s;
    border-radius: 10%;
    background-color: blue;
}

.button-bg-red {
    width: 134px;
    height: 300px;
    margin-bottom: 10px;
    transition: all 1s;
    border-radius: 10%;
    background-color: red;
}

.button-bg-green {
    width: 133px;
    height: 300px;
    margin-bottom: 10px;
    transition: all 1s;
    border-radius: 10%;
    background-color: green;
}

.button-list {
    list-style-type: none;
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 10%;
}